h1{
	color: ghostwhite;
	font-size: 400%;
	letter-spacing: 20px;
	text-align: left;
	transform: translate(25%, 90%);
}

#banner {
	width:100%;
	position: relative;
}

.cards{
	width: 400px;
	height: 400px;
	object-fit: cover;
	border-radius: 30px;
}

body{
	background-color: #f7c694;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
}

li{
	list-style-type: none;
}

a{
	text-decoration: none;
}

p{
	font-size: 150%;
	color: black;
	font-weight: bold;
}

h2{
	font-size: 200%;
	padding: 30px;
}

#topBanner>h2{
	background-color: darkred;
	padding: 20px;
	border-radius: 30px;
	opacity: 0.8;
	border: 2px solid black;
	top: 70%;
	left: 8%;
}

*{
	margin: 0;
	padding: 0;
}

#topBanner{
	display: flex;
}

h1,#topBanner>h2{
	position: absolute;
}

#cards{
	display: flex;
	justify-content: space-evenly;
}

iframe{
	margin: 20px;
}

#list{
	display: flex;
	justify-content: space-around;
	margin-bottom: 20px;
}